.btn-vultus {
  background-color: rgba(0, 63, 54, 0.7);
  border-color: rgba(0, 63, 54, 0.7);
  color: #fff;
}

.push-bottom {
  margin-top: 12px;
}

.text-vultus {
  color: rgba(0, 63, 54, 0.6);
  font-weight: 700;
}

.no-line:hover {
  text-decoration: none !important;
}

.parties {
  opacity: 0.8;
}

.text-vultus:hover {
  color: rgba(0, 63, 54, 0.9);
  font-weight: 700;
  text-underline: none;
}

.btn-vultus:hover {
  color: #fff !important;
}

.btn-vultus:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 63, 54, 0.3);
  color: #fff !important;
}
