extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Sign in

  

  form(method='POST')
    .form-group.row
      .offset-sm-3.col-md-7.pl-2
        a.btn.btn-block.btn-vultus.btn-social(href='/auth/vultus')
          i.far.fa-heart.fa-sm
          | Sign in with Vultus
    .form-group.row
      .offset-sm-3.col-md-7.pl-2.row
        div.push-bottom 
          h5 Don't have an account?
        a.btn.btn-link.no-line(href='/signup')
          h3.text-vultus.ml-1 Sign Up
      .offset-sm-3.col-md-7.pl-2
        hr
        a.float-right.ml-3.btn.btn-link(href='/forgot') Forgot your password?
    .form-group
      .offset-sm-3.col-md-7.pl-2.parties
        a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
          i.fab.fa-facebook-f.fa-sm
          | Sign in with Facebook
        a.btn.btn-block.btn-google.btn-social(href='/auth/google')
          i.fab.fa-google-plus-g.fa-xs
          | Sign in with Google
        a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
          i.fab.fa-linkedin-in.fa-sm
          | Sign in with LinkedIn
