extends layout

block content
  h1 Vultus Connect
  p.lead An Standalone, Embeded and API solution
  hr
  .row
    .col-md-6
      h2 Specification
      p  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='https://spec.vultus.io', role='button') View details »
    .col-md-6
      h2 Account
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='/login', role='button') View details »
  hr
  p Service complies with OpenAPI 3.0 and OAuth2 (OpenID Connect)