@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i");

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}

h1 {
  font-size: 36px;
}
h2,
.swagger-ui .info .title {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
}
h3,
a.nostyle span {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 300;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

p strong {
  font-weight: 700;
}

.swagger-ui .info code {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.swagger-ui table thead tr th {
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.swagger-ui table tbody tr td {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.swagger-ui table tbody tr td strong {
  font-size: 18px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.swagger-ui .opblock {
  border-radius: 0;
  box-shadow: 0;
}
.swagger-ui .opblock .opblock-summary-method {
  border-radius: 0;
  background: #f7f7f7;
}
.swagger-ui .opblock .opblock-summary-method:hover {
  background: #ebebeb;
}
.swagger-ui .opblock .opblock-section-header {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.swagger-ui .opblock.is-open .opblock-summary {
  border-bottom: 0;
  margin-bottom: 15px;
}

.swagger-ui .opblock .opblock-section-header h4 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.swagger-ui .opblock .opblock-section-header label {
  font-family: "Roboto", sans-serif;
}

.swagger-ui .opblock-tag {
  border-bottom: 0;
}

.swagger-ui .btn {
  box-shadow: none;
  background: #f7f7f7;
}
.swagger-ui .btn:hover {
  box-shadow: none;
  background: #ebebeb;
}

.swagger-ui .tab li a {
  margin-right: 12px;
}

.swagger-ui .model-box {
  border-radius: 0;
  background: rgba(0, 0, 0, 0.05);
}

.swagger-ui .opblock-body pre {
  border-radius: 0;
}

.swagger-ui select {
  border-radius: 0;
  box-shadow: none;
  border: solid 1px #41444e;
}

.btn.try-out__btn {
  margin-left: 15px;
  border-radius: 0;
  border: solid 1px #41444e;
}

div.markdown,
div.markdown p,
.swagger-ui .opblock .opblock-summary-description {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-bottom: 8px;
  margin-top: 8px;
}

.swagger-ui .model-title {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.swagger-ui table.model tbody tr td {
  vertical-align: middle;
}

.swagger-ui section.models .model-container {
  border-radius: 0;
}

.swagger-ui section.models {
  border-radius: 0;
}
